# changes file
*.changes

# system image
*.image

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip

# Data files
/data/disaster_categories.csv
/data/disaster_messages.csv
/data/DisasterResponse.db

# Model files
/models/classifier.pkl
